body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Hide overflowing content */
  position: relative; /* Ensure relative positioning for children elements */
}

#myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}
/* Initially, set the color and margins */
a {
  color: rgb(17, 197, 237); /* Initial color */
  transition: color 0.5s, margin-bottom 0.5s, margin-left 0.5s; /* Transition for color and margins */
}




/* Apply the hover effect */
a:hover {
  color: gold; /* Color change on hover */
  margin-bottom: 10px; /* Move down by 10px */
  margin-left: 10px; /* Move right by 10px */
  margin-right:  10px;
  transform: scale(0.95); /* Slight scale down on hover */


}

.content {
  text-align: center;
  color: white;
  z-index: 1;
}

/* home */
.home-link {
  position: absolute;
  top: 20px;
  right: 80px;
  text-decoration: uppercase;
  /* color: white; */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 8px;
  border-radius: 5px;
}


/* Media query for responsive adjustments */
@media screen and (max-width: 768px) {
  .home-link {
    top: 10px;
    right: 10px;
    padding: 6px 10px;
  }
}
/* 
signin */

.grey-welcome{
  /* color: rgb(92, 92, 92); */
  color: rgb(199 191 191);
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-float{
  position: relative;
  color: black;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-floating>.form-control {
  padding: 1rem 2.75rem;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
